/* your styles go here */
.intro-text{
    line-height: 48px;
}
.pb-5{
    margin-top: 20px;

}

.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
  }

  .aboutme{
    padding-right: 3%;
    font-size: 1.2em;
  }