/* your styles go here */
.intro-text{
    line-height: 48px;
}
.pb-5{
    margin-top: 20px;

}

.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
  }

  .aboutme{
    padding-right: 3%;
    font-size: 1.2em;
  }

  .timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-left: 50px;
}

.timeline-1, .timeline-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-1>div, .timeline-2>div {
    flex: 1;
}



.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 30px;
}



.timeline-item .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}
